#logo {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 12vw;
  text-align:center
}

#authorize-button {
  width: 19vw;
  height: 10vh;
  margin: auto;
  font-size: 1.3em;
}

#login-button {
  text-align:center;
}

.pure-button {
  margin-left: 7px;
}

body {
  font-size: 2vw;
  font-family: Helvetica;
  font-weight: lighter;
}

.spacer {
  height: 2vh;
}

.heading {
  margin-left: 7px;
  top: 7px;
  text-align: center;
  border-radius: 3px 3px 3px 3px;
  background-color: #137BE4;
  color: white;
}

.question {
  margin-left: 7px;
}

textarea {
  border-radius: 3px 3px 3px 3px;
  margin-left: 7px;
  margin-top: 7px;
  width: 40vw;
  height: 13vw;
  display: inline-block;
  vertical-align: middle
}